events {
  worker_connections 1024;
}

http {
  include       mime.types;
  server {
    listen 80;
    root /srv/html;
    try_files $uri /index.html;

    location /api {
      proxy_pass http://{{ global_address.resources[0].address }}:8080;
    }
  }
}
